<div class="container d-flex gap-2">

<% if admin_signed_in? && current_admin.super_admin? %>
	<%= link_to "Roles", roles_path, class: 'btn btn-primary mt-4' %>
<% end %>

<% if admin_signed_in? && !current_admin.super_admin? %>
	    <%= link_to "Update Password", edit_admin_registration_path, class: 'btn btn-primary ml-4 mt-4' %>
	    <%= button_to "Delete Account", admin_registration_path, method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: 'btn btn-primary ml-4 mt-4' %>
      <%= link_to "Update Profile", edit_customer_path, class: 'btn btn-primary ml-4 mt-4' %>
<% end %>

</div>